*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.center{
    display: flex;
    padding: 0px 2%;
}

header{
    background-color: #c2c2c2;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    height: 70%;
}

header .logo img{
    max-height: 100%;
}

header nav{
    display: flex;
}

header nav a{
    text-decoration: none;
    color: #222b32;
    font-weight: bold;
    padding: 6px;
    border-radius: 3px;
    font-size: 0.9rem;
}

header nav a:hover{
    background-color: #222b32;
    color: aliceblue;
}

header nav a:last-child{
    margin-left: 10px;
}

main{
    background-color: aqua;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-attachment: fixed;;
}

main .content{
    width: 100%;
    min-height: 100%;
    background-color: #222b32cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .content .welcome{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content .welcome h1{
    font-size: 2rem;
    text-align: center;
}

main .content .welcome a{
    margin-top: 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 6px;
    background-color: #596269;
    border-radius: 3px;
}

main .content .welcome a:hover{
    transform: scale(1.1,1.1);
    transition: 0.1s;
}

/* FOOOTER */

main footer{
    min-height: 60px;
    background-color: #222b32;
    display: flex;
    align-items: center;
    justify-content: center;
}

main footer a{
    text-decoration: none;
    color: aliceblue;
}

main footer a:hover{
    transform: scale(1.1,1.1);
    transition: 0.1s;
}